<div class="nav">
       
    <nav>

        <a href="#">PDR</a>

    
    
    
    
    
    
    
    
    
    </nav>

    


</div>

    <input type="Button" style="width:500;height:500" value="CAMISAS"> 
    
    <input type="Button" style="width:500;height:500" value="CALÇAS">
    
    <input type="Button" style="width:500;;height:500" value="BERMUDAS">

    <input type="Button" style="width:500;height:500" value="SAPATOS">

    <input type="Button" style="width:500;height:500" value="JAQUETAS">  

